<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="alertas">
		<div th:if="${mensajeExito}" class="alert alert-success alert-dismissible fade show" role="alert">
			<i class="bi bi-check-circle me-2"></i><span th:text="${mensajeExito}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<div th:if="${mensajeError}" class="alert alert-danger alert-dismissible fade show" role="alert">
			<i class="bi bi-exclamation-triangle me-2"></i><span th:text="${mensajeError}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
	</div>
</body>
</html>
